################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Holozsnyak_Nando_Bevgraf_Elso/Holozsnyak_Nando_Bevgraf_Elso.opensdf
/Debug
*.exe
*.ilk
*.pdb
*.log
*.idb